<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Some website</title>
</head>
<body>
    <h1>W'll be right back</h1>
    <p>this site is cuerrently being updated</p>
</body>

</html>